<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="src/styles/main.css">
  <title>Typescript</title>
</head>

<body>
  <h2>Fight club</h2>
  <main>
    <h3 class="fighters"></h3>
    <label>Points with spaces:</label>
    <input type='text' id='points' value="2 4 5 6 7" />
    <div class='field'>
      <span>Fighter:</span>
      <label>Name:</label>
      <input type='text' id='name' value="Tor" />
      <label>Health:</label>
      <input type='number' id='health' value="100" />
      <label>Power:</label>
      <input type='number' id='power' value="10" />
    </div>
    <div class='field'>
      <span>ImprovedFighter:</span>
      <label>Name:</label>
      <input type='text' id='name2' value="Tanos" />
      <label>Health:</label>
      <input type='number' id='health2' value="300" />
      <label>Power:</label>
      <input type='number' id='power2' value="30" />
    </div>
    <button class="save">Save Fighters</button>
    <button class="fight">Fight</button>
    <button class="clean">Clean</button>
    <div class="log"></div>
  </main>

</body>

</html>